<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zmień hasło</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container"> 
        <h1>Zmień hasło</h1>
        {% if errors %}
        <ul style="color: red; list-style-type: none; padding: 0;">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div>
                <p>
                    <label for="new_password">Nowe hasło:</label>
                    <input type="password" id="new_password" name="new_password" placeholder="Nowe hasło" required>
                </p>
                <p>
                    <label for="confirm_password">Potwierdź hasło:</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Potwierdzenie hasła" required>
                </p>
            </div>
            <button type="submit">Zmień hasło</button>
        </form>
        <p><a href="{% url 'profile' %}">Powrót do profilu</a></p>
    </div>
</body>
</html>
