<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tworzenie wiadomości</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div>
    <h1>Tworzenie wiadomości</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" action="{% url 'create_message' %}">
      {% csrf_token %}
      <label for="content">Wprowadź treść wiadomości:</label>
      <textarea name="content" placeholder="Treść wiadomości" required></textarea>

      <label for="private_key">Wprowadź klucz prywatny (RSA):</label>
      <textarea name="private_key" placeholder="Klucz prywatny (RSA)" required></textarea>

      <label for="public_key">Wprowadź klucz publiczny (RSA), jeśli klucz został już wprowadzony w poprzednich wiadomościach, możesz zostawić to pole puste:</label>
      <textarea name="public_key" placeholder="Klucz publiczny (RSA)"></textarea>

      <button type="submit" name="sign">Podpisz i wyślij</button>
    </form>
    <p><a href="{% url 'messages' %}">Powrót</a></p>
  </div>
</body>
</html>

