<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wiadomości</title>
  <link rel="stylesheet" href="{% static 'static/css/styles.css' %}">
</head>
<body>
  <h2>Lista wiadomości</h2>
  <ul>
    {% for message in messages %}
      <li><strong>{{ message.user.username }}</strong>: {{ message.content }}</li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'create_message' %}">Dodaj wiadomość</a></p>
  <p><a href="{% url 'logout' %}">Wyloguj</a></p>
</body>
</html>

