<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mój profil</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div>
        <h1>Mój profil</h1>
        <p><strong>Login:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><a href="{% url 'change_password' %}">Zmień hasło</a></p>
        <p><a href="{% url 'messages' %}">Wróć do wiadomości</a></p>
    </div>
</body>
</html>
