<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rejestracja</title>
  <link rel="stylesheet" href="{% static 'static/css/styles.css' %}">
</head>
<body>
  <h2">Rejestracja</h2>
  {% if errors %}
  <ul>
    {% for error in errors %}
      <li style="color: red;">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <p><input type="text" name="username" placeholder="Nazwa użytkownika" required></p>
    <p><input type="email" name="email" placeholder="E-mail" required></p>
    <p><input type="password" name="password" placeholder="Hasło" required></p>
    <p><button type="submit">Zarejestruj</button></p>
  </form>
  <p><a href="{% url 'login' %}">Powrót do logowania</a></p>
</body>
</html>

