<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weryfikacja 2FA</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Weryfikacja 2FA</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="token">Kod weryfikacyjny</label>
            <input type="text" id="token" name="token" placeholder="Wprowadź kod 2FA" required>
        </div>
        <button type="submit">Potwierdź</button>
    </form>
</body>
</html>
