<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weryfikacja 2FA</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div>
        <h2>Weryfikacja 2FA</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="token" placeholder="Wprowadź kod" required>
            <button type="submit">Zweryfikuj</button>
        </form>
    </div>
</body>
</html>
